language: node_js
node_js:
- 10

install:
- npm install

before_deploy:
- npm run build:github

# deploy to github pages on master
deploy:
  ## old way
  # provider: pages
  # skip-cleanup: true
  # local-dir: dist
  # github-token: $GITHUB_TOKEN
  # keep-history: true
  # verbose: true
  # on:
  #   all_branches: true
  # custom script
  provider: script
  script: scripts/github-deploy.sh
  verbose: true
  on:
    all_branches: true
