language: node_js
node_js:
- 10

install:
- npm install
- bash scripts/release.sh

before_deploy:
- npm run build:github

# deploy to github pages on master
deploy:
  provider: script
  skip-cleanup: true
  script: bash scripts/deploy.sh
  verbose: true
  on:
    all_branches: true
